In [10]:
#imports
import pandas as pd
import geopandas as gpd
import os
import time
import ast

# Scenario 1

In [ ]:
#paths
path_to_geojson_1 = "../test_data/geojsons/20241010_1340_991.geojson"

In [40]:
gdf = gpd.read_file(path_to_geojson_1)
gdf.head()

,id,objectType,name,classification,geometry
0,7ce5e6bb-0bb1-4f0a-97e1-1151449968db,annotation,calib1,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (39509.5 37655.36)
1,0512d0d4-222b-41bb-b0ef-79a0b0ab21bf,annotation,calib2,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (41311.48 31575.46)
2,68a2f06e-dcae-4d3c-9ff6-ce2a319ab09f,annotation,calib3,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (48639.9 32960.71)
3,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44..."
4,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44..."

In [41]:
# Classification describes the QuPath class of the various annotations objects.
# We have to remove the Point annotations (seen as POINT in the geometry column)
    # print how many points
print(f"Found {len(gdf[gdf.geom_type == 'Point'])} points in geojson, these are now removed")
gdf = gdf[gdf.geom_type != 'Point']
gdf.reset_index(drop=True, inplace=True)

Found 5 points in geojson, these are now removed

In [43]:
# We have to extract the class name from the classification column
    #check if classification column is a string or dictionary
if isinstance(gdf['classification'][0], (str)):
    gdf['class'] = gdf['classification'].apply(lambda x: ast.literal_eval(x)['name'])
elif isinstance(gdf['classification'][0], (dict)):
    gdf['class'] = gdf['classification'].apply(lambda x: x['name'])

In [44]:
gdf.head()

,id,objectType,name,classification,geometry,class
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44...",991_DI_1
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44...",991_DI_1
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44...",991_DI_1
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44...",991_DI_1
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398...",991_DI_2

In [45]:
gdf['class'].value_counts()

class
991_In_3    41
991_In_1    20
991_In_2    20
991_DI_1     8
991_DI_2     8
991_DI_3     8
991_DP_1     8
991_DP_2     8
991_DP_3     8
Name: count, dtype: int64

# Scenario 2

In [46]:
path_to_geojson_1 = "../data/geojsons/20241010_1340_991.geojson"
path_to_geojson_2 = "../data/geojsons/20241011_1031_991_refill.geojson"

In [49]:
gdf_1 = gpd.read_file(path_to_geojson_1)
gdf_2 = gpd.read_file(path_to_geojson_2)
gdf_1.head()

,id,objectType,name,classification,geometry
0,7ce5e6bb-0bb1-4f0a-97e1-1151449968db,annotation,calib1,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (39509.5 37655.36)
1,0512d0d4-222b-41bb-b0ef-79a0b0ab21bf,annotation,calib2,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (41311.48 31575.46)
2,68a2f06e-dcae-4d3c-9ff6-ce2a319ab09f,annotation,calib3,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (48639.9 32960.71)
3,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44..."
4,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44..."

In [50]:
gdf_2.head()

,id,objectType,name,classification,geometry
0,7ce5e6bb-0bb1-4f0a-97e1-1151449968db,annotation,calib1,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (39509.5 37655.36)
1,0512d0d4-222b-41bb-b0ef-79a0b0ab21bf,annotation,calib2,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (41311.48 31575.46)
2,68a2f06e-dcae-4d3c-9ff6-ce2a319ab09f,annotation,calib3,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (48639.9 32960.71)
3,24211278-cfe8-4a72-ad8b-382bbe879f8f,annotation,calib4,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (55505.48 27574.14)
4,9c5a6dbf-71a7-4f0d-883e-47f36c6904fd,annotation,calib5,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (55200.49 38538.13)

In [52]:
def remove_points_from_gdf(gdf):
    print(f"Found {len(gdf[gdf.geom_type == 'Point'])} points in geojson, these are now removed")
    gdf = gdf[gdf.geom_type != 'Point']
    gdf.reset_index(drop=True, inplace=True)
    return gdf

In [55]:
gdf_1 = remove_points_from_gdf(gdf_1)
gdf_2 = remove_points_from_gdf(gdf_2)

Found 5 points in geojson, these are now removed
Found 6 points in geojson, these are now removed

In [56]:
gdf_1.head()

,id,objectType,name,classification,geometry
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44..."
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44..."
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44..."
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44..."
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398..."

In [ ]:
gdf_2.head()

,id,objectType,name,classification,geometry
0,9a7e5366-f4da-49ae-9220-cd2543e49f99,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39542 31011.5, 39541.71 31020.95, 39..."
1,6eb7ab2f-539f-45b9-a565-fa5067aa7a3b,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39571 31359.5, 39570.71 31368.95, 39..."
2,66eefa28-3cef-469f-b875-70290e441862,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39879 31452.5, 39878.71 31461.95, 39..."
3,382e20d5-d3bb-43e9-8623-4f8c126518b2,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((40159 31276.5, 40158.71 31285.95, 40..."
4,f5b80768-f592-4e35-9fe2-dc52122b87b0,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((40460 31000.5, 40459.71 31009.95, 40..."

In [58]:
def extract_class_from_classification(gdf):
    if isinstance(gdf['classification'][0], (str)):
        gdf['class'] = gdf['classification'].apply(lambda x: ast.literal_eval(x)['name'])
    elif isinstance(gdf['classification'][0], (dict)):
        gdf['class'] = gdf['classification'].apply(lambda x: x['name'])
    return gdf

gdf_1 = extract_class_from_classification(gdf_1)
gdf_2 = extract_class_from_classification(gdf_2)

In [59]:
gdf_1.head()

,id,objectType,name,classification,geometry,class
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44...",991_DI_1
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44...",991_DI_1
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44...",991_DI_1
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44...",991_DI_1
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398...",991_DI_2

In [60]:
gdf_2.head()

,id,objectType,name,classification,geometry,class
0,9a7e5366-f4da-49ae-9220-cd2543e49f99,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39542 31011.5, 39541.71 31020.95, 39...",991_DP_1_refill
1,6eb7ab2f-539f-45b9-a565-fa5067aa7a3b,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39571 31359.5, 39570.71 31368.95, 39...",991_DP_1_refill
2,66eefa28-3cef-469f-b875-70290e441862,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((39879 31452.5, 39878.71 31461.95, 39...",991_DP_1_refill
3,382e20d5-d3bb-43e9-8623-4f8c126518b2,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((40159 31276.5, 40158.71 31285.95, 40...",991_DP_1_refill
4,f5b80768-f592-4e35-9fe2-dc52122b87b0,annotation,None,"{ ""name"": ""991_DP_1_refill"", ""color"": [ 56, 13...","POLYGON ((40460 31000.5, 40459.71 31009.95, 40...",991_DP_1_refill

In [61]:
gdf_1['class'].value_counts()

class
991_In_3    41
991_In_1    20
991_In_2    20
991_DI_1     8
991_DI_2     8
991_DI_3     8
991_DP_1     8
991_DP_2     8
991_DP_3     8
Name: count, dtype: int64

In [62]:
gdf_2['class'].value_counts()

class
991_DP_3_refill    26
991_DI_1_refill    26
991_DP_1_refill    25
991_DP_2_refill    25
991_DI_2_refill    25
991_DI_3_refill    25
991_In_3_refill    23
991_In_2_refill    22
991_In_1_refill    21
Name: count, dtype: int64

In [63]:
# these are non overlapping classes, so we can merge the two dataframes
gdf = pd.concat([gdf_1, gdf_2], ignore_index=True)

In [65]:
gdf['class'].value_counts()

class
991_In_3           41
991_DI_1_refill    26
991_DP_3_refill    26
991_DP_1_refill    25
991_DI_3_refill    25
991_DI_2_refill    25
991_DP_2_refill    25
991_In_3_refill    23
991_In_2_refill    22
991_In_1_refill    21
991_In_2           20
991_In_1           20
991_DI_2            8
991_DP_3            8
991_DP_2            8
991_DP_1            8
991_DI_3            8
991_DI_1            8
Name: count, dtype: int64

# Scenario 3

In [91]:
path_to_geojson_1 = "../data/geojsons/20241010_1340_991.geojson"
path_to_geojson_2 = "../data/geojsons/20241011_1031_991_refill.geojson"

gdf_1 = gpd.read_file(path_to_geojson_1)
gdf_2 = gpd.read_file(path_to_geojson_2)

gdf_1 = remove_points_from_gdf(gdf_1)
gdf_2 = remove_points_from_gdf(gdf_2)

gdf_1 = extract_class_from_classification(gdf_1)
gdf_2 = extract_class_from_classification(gdf_2)

Found 5 points in geojson, these are now removed
Found 6 points in geojson, these are now removed

In [ ]:
# these time the classes are going to the same wells
# so we have to concatenate the two dataframes
# then create a new column with harmonized class names with a mapping dictionary

In [92]:
gdf = pd.concat([gdf_1, gdf_2], ignore_index=True)

In [69]:
gdf.head()

,id,objectType,name,classification,geometry,class
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44...",991_DI_1
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44...",991_DI_1
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44...",991_DI_1
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44...",991_DI_1
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398...",991_DI_2

In [73]:
#list all unique classes, export as csv for editing in Excel
df = pd.DataFrame(data=gdf['class'].unique().tolist())
df.to_csv("../data/geojsons/unique_classes.csv", index=False, header=False)

In [ ]:
df2 = pd.read_csv("../data/geojsons/unique_classes_mod.csv", sep=";") #the separator depends on software used to edit the csv

In [79]:
df2

                key   Biopsy     prefix  replicate                value
0          991_DI_1  Primary     Immune          1     Primary_Immune_1
1          991_DI_2  Primary     Immune          2     Primary_Immune_2
2          991_DI_3  Primary     Immune          3     Primary_Immune_3
3          991_DP_1  Primary   TumorBed          1   Primary_TumorBed_1
4          991_DP_2  Primary   TumorBed          2   Primary_TumorBed_2
5          991_DP_3  Primary   TumorBed          3   Primary_TumorBed_3
6          991_In_1  Primary  Interface          1  Primary_Interface_1
7          991_In_2  Primary  Interface          2  Primary_Interface_2
8          991_In_3  Primary  Interface          3  Primary_Interface_3
9   991_DP_1_refill  Primary   TumorBed          1   Primary_TumorBed_1
10  991_DP_2_refill  Primary   TumorBed          2   Primary_TumorBed_2
11  991_DP_3_refill  Primary   TumorBed          3   Primary_TumorBed_3
12  991_DI_1_refill  Primary     Immune          1     Primary_Immune_1
13  991_DI_2_refill  Primary     Immune          2     Primary_Immune_2
14  991_DI_3_refill  Primary     Immune          3     Primary_Immune_3
15  991_In_1_refill  Primary  Interface          1  Primary_Interface_1
16  991_In_2_refill  Primary  Interface          2  Primary_Interface_2
17  991_In_3_refill  Primary  Interface          3  Primary_Interface_3

In [80]:
category_mapping = df2.set_index('key')['value'].to_dict()

In [81]:
category_mapping

{'991_DI_1': 'Primary_Immune_1',
 '991_DI_2': 'Primary_Immune_2',
 '991_DI_3': 'Primary_Immune_3',
 '991_DP_1': 'Primary_TumorBed_1',
 '991_DP_2': 'Primary_TumorBed_2',
 '991_DP_3': 'Primary_TumorBed_3',
 '991_In_1': 'Primary_Interface_1',
 '991_In_2': 'Primary_Interface_2',
 '991_In_3': 'Primary_Interface_3',
 '991_DP_1_refill': 'Primary_TumorBed_1',
 '991_DP_2_refill': 'Primary_TumorBed_2',
 '991_DP_3_refill': 'Primary_TumorBed_3',
 '991_DI_1_refill': 'Primary_Immune_1',
 '991_DI_2_refill': 'Primary_Immune_2',
 '991_DI_3_refill': 'Primary_Immune_3',
 '991_In_1_refill': 'Primary_Interface_1',
 '991_In_2_refill': 'Primary_Interface_2',
 '991_In_3_refill': 'Primary_Interface_3'}

In [93]:
#use the mapping dictionary to create a new column with the harmonized class names
gdf['harmonized_class'] = gdf['class'].map(category_mapping)

In [94]:
gdf.head()

,id,objectType,name,classification,geometry,class,harmonized_class
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44...",991_DI_1,Primary_Immune_1
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44...",991_DI_1,Primary_Immune_1
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44...",991_DI_1,Primary_Immune_1
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44...",991_DI_1,Primary_Immune_1
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398...",991_DI_2,Primary_Immune_2

In [95]:
#export new geojson with harmonized class names
datetime = time.strftime("%Y%m%d_%H%M")
gdf.to_file(f"../data/geojsons/{datetime}_Primary991_harmonized.geojson", driver='GeoJSON')

# Caveats

We can only do so much from geojsons, whatever key we use (class or harmonized_class) has to be present in the metadata file of the proteomic dataset